@import '../../style/color';
.card-like {
    background: none;
    outline: 0;
    border: 0;
    position: relative;
    width: 5rem;
    color: $actions;
    cursor: pointer;
    text-align: left;
    padding-left: 1.4rem;

    &:focus {
        outline: none;
    }

    &::after {
        pointer-events: none;
        content: "";
        position: absolute;
        background-image: url('/content/img/web_heart_animation_edge.png');
        background-position: left;
        background-repeat: no-repeat;
        background-size: 2900%;
        height: 50px;
        width: 50px;
        left: -17px;
        top: 45%;
        transform: translate(0,-47.5%);
        user-select: none;
    }

    &:hover,
    &.is-animating {
        color: $like;
        &::after {
            background-position: -50px 0;
        }
    }

    &.is-animating::after  {
        animation-fill-mode: forwards;
        animation-timing-function: steps(28);
        animation-name: heart-burst;
        animation-duration: .8s;
        animation-iteration-count: 1;
        display: inline-block;
    }

    &.no-hover {
        color: $actions;
        &::after {
            background-position: left;
        }
    }
}






@keyframes heart-burst {
    0% {
        background-position: left
    }

    100% {
        background-position: right
    }
}