.avatar-container {
    display: block;
    height: 3rem;
    width: 3rem;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    margin-left: -3.75rem;
}

.avatar-container img {
    height: 100%;
    width:auto;
    display: block;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
}