.avatar-container {
  display: inline-block;
  height: 54px;
  width: 54px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}



.avatar-container img {
  height: 100%;
  width:auto;
  display: block;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
}